[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Orcs"]
	path = Orcs
	url = https://github.com/fdetsch/orcs
[submodule "satellite"]
	path = satellite
	url = https://github.com/cran/satellite
